<style type="text/css">
*{margin:0; border:5; padding:5; font-size:13pt;}
#TopNav{height:40px;border-top:#060 2px solid;border-bottom:#060 2px solid;background-color:#690;}
#TopNav ul{list-style:none;margin-left:50px;}
#TopNav li{display:inline;line-height:40px;}
#TopNav a{color:#fff;text-decoration:none;padding:20px 20px;}
#TopNav a:hover{background-color:#060;}
#LoginForm
{
  margin:0;
  border:5;
  padding:5;
  padding-top: 10px;
  padding-right: 0.25em;
  padding-bottom: 2ex;
  padding-left: 20%;
}
#RegisterForm
{
  padding-top: 10px;
  padding-right: 0.25em;
  padding-bottom: 2ex;
  padding-left: 20%;
}
</style>